<!DOCTYPE html>
<html>
<head>
	<title>Do Deposit</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/sb-admin-2.css">
    <link href="/assets/sb-admin.css" rel="stylesheet">
</head>
<body>

	<% include partials/nav.ejs %>

	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						Money to be deposited form <%= mysession%> Account
					</div>
					<div class="panel-body">
						<form action="/doDeposit" method="post">
							<div class="form-group">
		                        <label>Enter Amount</label>
		                        <input class="form-control" name="amount" placeholder="Enter Account Number">
		                        <input type="hidden" name="acNumber" <% if(locals.acNumber) {%> value="<%= acNumber %>" <% } %>>
		                    </div>
		                    <button class="btn btn-default">Deposit</button>
	                    </form>
					</div>
				</div>
			</div>

		</div>
	</div>

</body>
</html>